.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #292c2f;
    color: whitesmoke;
}

.footer .footer-container {
    display: grid;
    grid-template-columns: auto;
}

.footer .footer-container {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.footer .footer-container .links a,
.footer .footer-container .links a:visited {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.footer .footer-container .links a:hover {
    text-decoration: underline;
}

.footer .footer-container .links a:before {
    content: " · ";
    padding-right: 5px;
    display: inline-block;
}

.footer .footer-container .links .home-link:before {
    content: none;
}

.footer .footer-container .links .github-link:hover {
    text-decoration: none;
}

.footer .footer-container .links .github-link:before {
    content: none;
}

.footer .footer-container .links .github-color {
    color: royalblue;
}

.copyright {
    text-align: right;
    padding-bottom: 5px;
    padding-right: 20px;
    font-family: "Ubuntu Thin", cursive;
    font-weight: bold;

}