* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/index-image.jpg") center;
}

.welcome-text {
    text-align: center;
    margin-top: 50px;

}

.login-text {
    text-align: center;
    margin-top: 100px;
}
