* {
    margin: 0;
    padding: 0;
}

h1, .content, .book-donation, button, table {
    margin: 10px;
}

.header {
    background: url("../images/library-header.jpg") no-repeat center;
    text-align: right;
    padding: 45px;
}

.header .header-content .user-name {
    text-decoration: none;
    color: #2d65ff;
}

/*.header .header-content .user-name {*/

/*}*/

.header .header-content .logout-link {
    text-decoration: none;
    color: red;
}

table {
    width: 500px;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 1px solid black;
}

th {
    background: #b0e0e6;
}

.content .paragraph {
    margin: 10px;
}

.content .book-id {
    text-align: center;
}

.content .book-donation {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 500px;
}

.content .book-donation .validation-error {
    color: red;
}