<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml" lang="en, ru">
<head>
    <meta charset="UTF-8">
    <title>Virtual book library</title>
    <link rel="stylesheet" th:href="@{/css/index-style.css}">
    <link rel="stylesheet" th:href="@{/css/footer-style.css}">
</head>
<body>
<div>
    <h1 class="welcome-text">Welcome to "Virtual book library" !</h1>
    <h3 class="login-text">Click <a th:href="@{/login}">here</a> to login and enter the library.</h3>
</div>
</body>
<footer>
    <div th:fragment="footer" class="footer">
        <div class="footer-container">
            <div class="links">
                <p>
                    <a th:href="@{/}" class="home-link">Home</a>
                    <a th:href="@{/library}">To the library</a>
                    <a th:href="@{/about}">About</a>
                </p>
                <p class="github">
                    Follow us on <a class="github-link" th:href="@{https://github.com/EVLitvin}"><span
                        class="github-color">GitHub</span></a>
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &#169 2022</p>
        </div>
    </div>
</footer>
</html>