<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en, ru">
<head>
    <title>Virtual book library</title>
    <link rel="stylesheet" th:href="@{css/footer-style.css}"/>
    <link rel="stylesheet" th:href="@{css/library-style.css}"/>
</head>
<header class="header">
    <div class="header-content">
        <h3>Welcome
            <span class="user-name" th:text="${libraryUser.lastName + ' ' + libraryUser.firstName + ' | '}">User lastname and firstname.</span>
            <a class="logout-link" href="javascript: document.logoutForm.submit()">logout</a>
            <form name="logoutForm" method="POST" th:action="@{/logout}" th:hidden="true">
                <input hidden type="submit" value="Logout"/>
            </form>
        </h3>
    </div>
</header>
<body>
<div class="content">
    <h1>Library</h1>
    <p class="paragraph">Books available in the library for today - <span th:text="${date}">Today</span></p>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody th:each="book : ${allBooks}">
        <tr>
            <td class="book-id" th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <p class="paragraph">Maybe you want to donate any book for our library?</p>
    <form th:method="POST" th:object="${book}" th:action="@{/library}">
        <div class="book-donation">
            <label>Title:</label>
            <input type="text" th:field="*{title}" th:value="${book.title}"/>
            <span class="validation-error" th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}">Title error</span>
            <label>Author:</label>
            <input type="text" th:field="*{author}" th:value="${book.author}"/>
            <span class="validation-error" th:if="${#fields.hasErrors('author')}"
                  th:errors="*{author}">Author error</span>
        </div>
        <button type="submit">Donate book!</button>
    </form>
</div>
</body>
<footer>
    <div th:insert="~{index::footer}">Footer here</div>
</footer>
</html>