<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en, ru">
<head>
  <title>Virtual book library</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<h1>Register</h1>

<form method="POST" th:action="@{/register}" id="registerForm">

  <label for="username">Username: </label>
  <input type="text" name="username"/><br/>

  <label for="password">Password: </label>
  <input type="password" name="password"/><br/>

  <label for="confirm">Confirm password: </label>
  <input type="password" name="confirm"/><br/>

  <label for="firstName">First name: </label>
  <input type="text" name="firstName"/><br/>

  <label for="lastName">Last name: </label>
  <input type="text" name="lastName"/><br/>

  <label for="email">Email: </label>
  <input type="text" name="email"/><br/>

  <label for="phoneNumber">Phone: </label>
  <input type="text" name="phoneNumber"/><br/>

  <input type="submit" value="Register"/>
</form>

</body>
<footer>
  <div th:insert="~{index::footer}">Footer here</div>
</footer>
</html>